* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height:100%;
  background-color: rgb(1, 32, 97);
}

body {
  margin: 0;
  padding: 30px;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: rgb(1, 32, 97);
  
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  
}

.wrapper {
  display: flex;
}

.container {
  max-width: 960px;
  margin-top: 25px;
  margin: auto;
  
}
.title {
  background-color: rgb(164, 224, 224);
  width: 100%;
  border-radius: 4px;
  padding: 15px;
  margin-top: 25px;
}


#form  {
  margin-left: 50px;
  min-width: 250px;
  background-color:lavender;
  padding: 15px;
  border-radius: 4px;
}


  
.radio  {
  display: block;
  margin-bottom: 5px;
  color: rgb(29, 180, 41);
}

.button  {
  background-color: rgb(48, 48, 241);
  border: none;
  margin-top: 10px;
  cursor: pointer;
}


.columns {
  align-items: center;
  justify-content: center;
}
#third_box {
  margin-left: 50px;
  background-color:lavender;
}


  
  
